html
	head
		style
			include ../style/style.css
		title JabroniTown - A CSGO Blacklist
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
		script(src='/script/searchPlayer.js')
		script(src='/script/hotkeys.js')
		script(src='https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js')
	body
		
		.header 
			a(href='/' id='headerlink') JABRONI
			.subheader A CSGO Blacklist
			//- img(src='/img/ak.png' id="ak")
		#searchbox_wrapper

			center
				form(method='get',action='/')
					input(id='player_searchbox', type='text', placeholder='Name / Profile Link' name='player' autocomplete='off')
					//- input(type='submit', id='search_button', onclick='searchPlayer('+JSON.stringify(players)+', player_searchbox.value)' value='Search')
					input(type='submit', id='search_button')
		br
		.container
			if( (results != '') && (typeof(results) != 'undefined'))
				if(results.response)
					if(results.response.message == 'No match')
						center
							#failbox
								p No Match!
						script(type='text/javascript').
							$("#failbox").fadeIn()
					else
						for player in results
							#add_form_wrapper
								form(method='get',action='/' id='add_form')
									input(type='hidden', name='add_player' value=player.players[0].steamid)
							#added_results adding...
							#player_results
								if(results.response.players[0].gameextrainfo)
									.avatar_ingame
										a(href='http://steamcommunity.com/profiles/'+player.players[0].steamid)
											img(class='avatar_img', src=''+player.players[0].avatarfull+'')
								else
									.avatar
										a(href='http://steamcommunity.com/profiles/'+player.players[0].steamid)
											img(class='avatar_img', src=''+player.players[0].avatarfull+'')
								#summary_wrapper
									.player_summary
										p Current Alias: 
											b #{player.players[0].personaname}
										p Steam ID: 
											#steamid_box
												b #{player.players[0].steamid}
										p
											font(color='red') #{player.players[0].personaname} is not a registered Jabroni yet, want to add them? 
									#addbutton +
								//- .addsuccess &#10004;
							br
						script(type='text/javascript').
							$("#player_results").fadeIn()
				else
					for player in results
						#player_results
							if(player.gameextrainfo)
								.avatar_ingame
									a(href='http://steamcommunity.com/profiles/'+player.steam_id)
										img(class='avatar_img', src=''+player.avatarfull+'')
							else
								.avatar
									a(href='http://steamcommunity.com/profiles/'+player.steam_id)
										img(class='avatar_img', src=''+player.avatarfull+'')
							.player_summary
								p Name: 
									b #{player.name}
								p AKA: 
									b #{player.nickname}
								p Rank: 
									b #{player.rank}
								p Rating: 
									b #{player.rating}
								p Steam ID: 
									b #{player.steam_id}
							.rating #{player.rating}
							//- #close X
						br
					script(type='text/javascript').
						$("#player_results").fadeIn()
				// #home  List Jabroni things...
			else if( (add_results != '') && (typeof(add_results) != 'undefined'))
				for player in add_results
					#player_results2
						if(add_results.response.players[0].gameextrainfo)
							.avatar_ingame
								img(class='avatar_img', src=''+player.players[0].avatarfull+'')
						else
							.avatar
									img(class='avatar_img', src=''+player.players[0].avatarfull+'')
						#summary_wrapper
							.player_summary
								//- h1 #{player.players[0].personaname}
								#title-top #{player.players[0].personaname} is now a
								#certified Certified Jabroni
								#title-bot
									a(id='tracklink', href='/?player='+player.players[0].personaname) They're now being tracked in our database&raquo
								#steamid_box
									b #{player.players[0].steamid}
							//- #addbutton +
							#addsuccess &#10004;
					br
				//- #home  List Jabroni things...

			else
				#home
					.ribbon
						h3 Recently Certified Jabronies
					#jabroni_list_left
						each val, index in recentJabronies
							if(index < 3)
								.mini_player_summary
									if(ingameList.indexOf(val.name) > -1)
										.mini_avatar_ingame
											a(href='/?player='+val.name)
												img(class='avatar_img', src=''+val.avatarmedium)
									else
										.mini_avatar
											a(href='/?player='+val.name)
												img(class='avatar_img', src=''+val.avatarmedium)
									a(id='homelink' href='/?player='+val.name)
										.mini_player_info=val.name
									.mini_rating #{val.rating}
					#jabroni_list_right
						each val, index in recentJabronies
							if(index > 2)
								.mini_player_summary
									if(ingameList.indexOf(val.name) > -1)
										.mini_avatar_ingame
											a(href='/?player='+val.name)
												img(class='avatar_img', src=''+val.avatarmedium)
									else
										.mini_avatar
											a(href='/?player='+val.name)
												img(class='avatar_img', src=''+val.avatarmedium)
									a(id='homelink' href='/?player='+val.name)
										.mini_player_info=val.name
									.mini_rating #{val.rating}